<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>nz.ac.victoria.ecs.nwen304.project3.server</display-name>
 <filter>
  <filter-name>ExceptionHandler</filter-name>
  <filter-class>nz.ac.victoria.ecs.nwen304.project3.server.servlets.ExceptionHandlingFilter</filter-class>
 </filter>
 <filter-mapping>
  <filter-name>ExceptionHandler</filter-name>
  <servlet-name>Note</servlet-name>
 </filter-mapping>
 <filter-mapping>
  <filter-name>ExceptionHandler</filter-name>
  <servlet-name>Container</servlet-name>
 </filter-mapping>
 <listener>
  <listener-class>nz.ac.victoria.ecs.nwen304.project3.server.guice.GuiceServletContextListner</listener-class>
 </listener>
 <listener>
  <listener-class>nz.ac.victoria.ecs.nwen304.project3.server.data.InitialDataContextListner</listener-class>
 </listener>
 <servlet>
  <servlet-name>Note</servlet-name>
  <servlet-class>nz.ac.victoria.ecs.nwen304.project3.server.servlets.NoteServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Container</servlet-name>
  <servlet-class>nz.ac.victoria.ecs.nwen304.project3.server.servlets.ContainerServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>Note</servlet-name>
  <url-pattern>/Note/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Container</servlet-name>
  <url-pattern>/Container/*</url-pattern>
 </servlet-mapping>
</web-app>
